streamlit==1.58.0
bleach==6.2.0
python-dotenv==1.2.2
plotly==6.8.0
stripe==15.2.0
anthropic==0.105.2
requests==2.32.3

streamlit-google-auth==1.1.8

pyotp==2.9.0
liboqs-python==0.15.0

# force redeploy Tue Jun 30 21:18:34 PDT 2026
